pane_frames false
show_startup_tips false
default_layout "clean"
copy_on_select false
scroll_buffer_size 50000
mouse_hover_effects false

ui {
    pane_frames {
        hide_session_name true
        rounded_corners true
    }
}

themes {
    minimal {
        fg "#aaaaaa"
        bg "#000000"
        black "#000000"
        red "#ec635c"
        green "#8ce479"
        yellow "#808080"
        blue "#6a6adf"
        magenta "#808080"
        cyan "#00ffff"
        white "#ffffff"
        orange "#808080"
        ribbon_selected {
            base 255 255 255
            background 34 34 34
            emphasis_0 255 255 255
            emphasis_1 255 255 255
            emphasis_2 255 255 255
            emphasis_3 255 255 255
        }
        ribbon_unselected {
            base 80 80 80
            background 34 34 34
            emphasis_0 80 80 80
            emphasis_1 80 80 80
            emphasis_2 80 80 80
            emphasis_3 80 80 80
        }
        text_unselected {
            base 80 80 80
            background 34 34 34
            emphasis_0 80 80 80
            emphasis_1 80 80 80
            emphasis_2 80 80 80
            emphasis_3 80 80 80
        }
        text_selected {
            base 255 255 255
            background 80 82 87
            emphasis_0 255 255 255
            emphasis_1 255 255 255
            emphasis_2 255 255 255
            emphasis_3 255 255 255
        }
        frame_selected {
            base 50 50 50
            background 50 50 50
            emphasis_0 50 50 50
            emphasis_1 50 50 50
            emphasis_2 50 50 50
            emphasis_3 50 50 50
        }
        frame_unselected {
            base 50 50 50
            background 50 50 50
            emphasis_0 50 50 50
            emphasis_1 50 50 50
            emphasis_2 50 50 50
            emphasis_3 50 50 50
        }
    }
}
theme "minimal"

load_plugins {
    "file:~/.config/zellij/plugins/zcp.wasm"
}

keybinds clear-defaults=true {
    unbind "Ctrl q"
    unbind "Ctrl w"
    shared_except "locked" {
        bind "Alt Q" { Quit; }
        bind "Alt W" { CloseFocus; }
    }
    normal {
        unbind "Ctrl q"
        unbind "Ctrl w"
        bind "Alt S" { EditScrollback; SwitchToMode "Normal"; }
        bind "Ctrl q" { Quit; }
        bind "Alt E" { NewTab; }
        bind "Alt 1" { GoToTab 1; }
        bind "Alt 2" { GoToTab 2; }
        bind "Alt 3" { GoToTab 3; }
        bind "Alt 4" { GoToTab 4; }
        bind "Alt 5" { GoToTab 5; }
        bind "Alt 6" { GoToTab 6; }
        bind "Alt 7" { GoToTab 7; }
        bind "Alt 8" { GoToTab 8; }
        bind "Alt 9" { GoToTab 9; }
        bind "Alt H" { GoToPreviousTab; }
        bind "Alt L" { GoToNextTab; }
        bind "Alt C" { Copy; }
        bind "Alt X" {
            MessagePlugin "file:~/.config/zellij/plugins/zcp.wasm" {
                name "smart-copy"
            }
        }
        bind "Ctrl Alt h" { MoveTab "Left"; }
        bind "Ctrl Alt l" { MoveTab "Right"; }
        bind "Alt V" {
            NewPane "Right";
            Resize "Increase Left";
            Resize "Increase Left";
            Resize "Increase Left";
        }
        bind "Alt D" { NewPane "Down"; }
        bind "Alt R" { SwitchToMode "Resize"; }
        bind "Alt F" { ToggleFocusFullscreen; }
        bind "Ctrl w" { CloseFocus; }
        bind "Alt w" { CloseFocus; }
    }
    scroll {
        bind "j" "Down" { ScrollDown; }
        bind "k" "Up" { ScrollUp; }
        bind "d" { HalfPageScrollDown; }
        bind "u" { HalfPageScrollUp; }
        bind "s" "/" { SwitchToMode "EnterSearch"; SearchInput 0; }
        bind "e" { EditScrollback; SwitchToMode "Normal"; }
        bind "Alt C" { Copy; }
        bind "Alt X" {
            MessagePlugin "file:~/.config/zellij/plugins/zcp.wasm" {
                name "smart-copy"
            }
        }
        bind "Esc" "Alt S" { SwitchToMode "Normal"; }
    }
    entersearch {
        bind "Enter" { SwitchToMode "Search"; }
        bind "Esc" { SwitchToMode "Scroll"; }
    }
    search {
        bind "j" "Down" { ScrollDown; }
        bind "k" "Up" { ScrollUp; }
        bind "n" { Search "down"; }
        bind "N" { Search "up"; }
        bind "Esc" { SwitchToMode "Scroll"; }
        bind "Alt S" { SwitchToMode "Normal"; }
    }
    resize {
        bind "h" "Left" { Resize "Increase Left"; }
        bind "j" "Down" { Resize "Increase Down"; }
        bind "k" "Up" { Resize "Increase Up"; }
        bind "l" "Right" { Resize "Increase Right"; }
        bind "H" { Resize "Decrease Left"; }
        bind "J" { Resize "Decrease Down"; }
        bind "K" { Resize "Decrease Up"; }
        bind "L" { Resize "Decrease Right"; }
        bind "Esc" "Alt R" { SwitchToMode "Normal"; }
    }
}
