[core]
	editor = vim
	filemode = false
[merge]
	tool = opendiff
[push]
	default = current
[branch]
	autosetuprebase = always
[user]
	email = fusillicode@gmail.com
[fetch]
	prune = true
[pager]
	branch = false
[diff]
	submodule = log
