[core]
    editor = hx
    filemode = false
    pager = delta
[branch]
    autosetuprebase = always
[delta]
    file-added-label = ""
    file-copied-label = ""
    file-modified-label = ""
    file-removed-label = ""
    file-renamed-label = ""
    file-decoration-style = omit
    file-style = bold yellow
    hunk-header-style = omit
    line-numbers = true
    line-numbers-left-format = "{nm} "
    line-numbers-right-format = "{np} "
    navigate = true
    side-by-side = true
[diff]
    colorMoved = default
[fetch]
    prune = true
[interactive]
    diffFilter = delta --color-only
[merge]
    conflictstyle = diff3
[pager]
    branch = false
[push]
    default = current
[user]
    email = fusillicode@gmail.com
