"$schema" = 'https://starship.rs/config-schema.json'

add_newline = true

format = "$time$directory$git_branch$git_status$git_metrics$git_state$git_commit${custom.git_commit_msg}$line_break$status$character"

[time]
disabled = false
format = "[$time ]($style)"
style = "white bold"

[directory]
style = "bold cyan"
read_only = " #"
truncation_length = 0
truncate_to_repo = false

[git_branch]
format = "[$branch ]($style)"
style = "white"

[git_status]
# Don't want the stashed symbol
format = "[($conflicted$deleted$renamed$modified$typechanged$staged$untracked$ahead_behind )]($style)"
style = "white"
ahead = '>${count}'
behind = '<${count}'
deleted = "-"
diverged = '<>${ahead_count} ${behind_count}'
modified = "!"
renamed = "r"
staged = "+"
stashed = "\\$"
untracked = "?"
up_to_date = "✓"

[git_state]

[git_commit]
format = "[$hash | ]($style)"
style = "#777777"
only_detached = false
tag_disabled = true
commit_hash_length = 7

[custom.git_commit_msg]
command = "msg=$(git log -1 --pretty=format:%s 2>/dev/null); if [ ${#msg} -gt 33 ]; then echo \"${msg:0:33}…\"; else echo \"$msg\"; fi"
when = "git rev-parse --git-dir 2>/dev/null"
format = "[$output ]($style)"
style = "#777777"

[git_metrics]
disabled = false

[status]
